<!-- Start Footer Section -->
<footer class="footer-section bg-dark text-light pt-5">
    <div class="container">

        <!-- Subscription Section -->
        <div class="row mb-4">
            <div class="col-lg-8">
                <div class="subscription-form">
                    <h3 class="d-flex align-items-center">
                        <span class="me-1"><img src="assets/images/envelope-outline.svg" alt="Image" class="img-fluid"></span>
                        <span>Subscribe to Newsletter</span>
                    </h3>
                </div>
            </div>
        </div>

        <!-- Footer Content -->
        <div class="row g-5 mb-5">
            <div class="col-lg-4">
                <div class="mb-4 footer-logo-wrap">
                    <a href="#" class="footer-logo text-light fs-2">Sport_health<span>.</span></a>
                </div>
                <p class="mb-4">Le sport et une alimentation saine forment l'alliance parfaite pour cultiver un corps fort et une vie épanouie</p>

                <ul class="list-unstyled custom-social">
                    <li><a href="#" class="text-light"><i class="fa fa-facebook-f"></i></a></li>
                    <li><a href="#" class="text-light"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="text-light"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#" class="text-light"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>

            <div class="col-lg-8">
                <div class="row links-wrap">
                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-light">About us</a></li>
                            <li><a href="#" class="text-light">Services</a></li>
                            <li><a href="#" class="text-light">Blog</a></li>
                            <li><a href="#" class="text-light">Contact us</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-light">Support</a></li>
                            <li><a href="#" class="text-light">Knowledge base</a></li>
                            <li><a href="#" class="text-light">Live chat</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-light">Jobs</a></li>
                            <li><a href="#" class="text-light">Our team</a></li>
                            <li><a href="#" class="text-light">Leadership</a></li>
                            <li><a href="#" class="text-light">Privacy Policy</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-light">Nordic Chair</a></li>
                            <li><a href="#" class="text-light">Kruzo Aero</a></li>
                            <li><a href="#" class="text-light">Ergonomic Chair</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copyright Section -->
        <div class="border-top pt-4 copyright">
            <div class="row">
                <div class="col-lg-6">
                    <p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co" class="text-light">Untree.co</a>  Distributed By <a href="https://themewagon.com" class="text-light">ThemeWagon</a></p>
                </div>

                <div class="col-lg-6 text-center text-lg-end">
                    <ul class="list-unstyled d-inline-flex ms-auto">
                        <li class="me-4"><a href="#" class="text-light">Terms &amp; Conditions</a></li>
                        <li><a href="#" class="text-light">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</footer>
<!-- End Footer Section -->
