
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Sport <span clsas="d-block">Tennis </span></h1>
                    <p class="mb-4">Réservez votre terrain de tennis en un clic et profitez du match parfait !</p>
                    <div class="d-flex">
                        <p class="me-2">
                            <a class="btn btn-secondary" routerLink="/privee/terrains">Voir Terrain</a>
                        </p>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap ">
                    <img src="assets/images/is.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title">Pourquoi nous choisir</h2>
                <p>Nous sommes votre partenaire idéal pour atteindre vos objectifs de santé et de forme physique. Notre approche holistique combine expertise en sport et nutrition pour vous offrir un soutien complet dans votre parcours vers une vie plus saine et plus active.</p>

                <div class="row my-5">
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="assets/images/support.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>24/7 Support</h3>
                            <p>Obtenez un soutien 24/7 pour vous accompagner à chaque étape de votre voyage vers une meilleure santé et une forme physique optimale.</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="assets/images/bag.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Facile à magasiner</h3>
                            <p>Notre plateforme offre une expérience de magasinage fluide et intuitive, pour que vous puissiez trouver rapidement et facilement tout ce dont vous avez besoin pour nourrir votre corps et votre esprit .</p>
                        </div>
                    </div>


                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="assets/images/return.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Retours sans tracas</h3>
                            <p>Notre politique de retours sans tracas vous garantit une tranquillité d'esprit totale. Si vous n'êtes pas entièrement satisfait de votre achat, nous nous engageons à faciliter le processus de retour pour vous assurer une expérience client sans souci.</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="/assets/images/truck.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Rapide &amp;efficace Livraison gratuite</h3>
                            <p>Profitez d'une livraison rapide et efficace, sans frais supplémentaires. Parce que votre santé n'attend pas, nous vous offrons la commodité d'une livraison gratuite pour vous aider à démarrer votre transformation dès maintenant.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-5">
                <div class="img-wrap">
                    <img src="assets/images/images.jpeg" alt="Image" class="img-fluid" height="700" width="1500">
                </div>
            </div>
           

        </div>
    </div>
</div>
